<router-outlet></router-outlet>

<c-alert *ngIf="isAlerting" color="danger" class="d-flex align-items-center">
  <svg
    [cIcon]="icons.cilWarning"
    class="bi flex-shrink-0 me-2"
    width="24"
    height="24"
    role="img"
    aria-label="Info:"
  ></svg>
  <div [innerHTML]="[message]"></div>
</c-alert>

<div class="center-button-container">
  <app-open-close-button
    [requestStatusMessage]="topicNames.CURTAIN_STATUS_TOPIC"
    [topicWhenClick]="topicNames.REQUEST_TOPIC"
    [subject]="broker.subjects.curtainStatus"
    #curtain_button
  ></app-open-close-button>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Charts">
    <div class="chart-parent">
      <app-status-chart
        style="grid-column: 1; grid-row: 1"
        [measurementConfig]="config.TEMPERATURE_CONFIG"
        [subject]="broker.subjects.temperature"
      ></app-status-chart>
      <app-status-chart
        style="grid-column: 2; grid-row: 1"
        [measurementConfig]="config.LIGHT_CONFIG"
        [subject]="broker.subjects.light"
      ></app-status-chart>
      <app-status-chart
        style="grid-column: 3; grid-row: 1"
        [measurementConfig]="config.HUMIDITY_CONFIG"
        [subject]="broker.subjects.humidity"
      ></app-status-chart>
      <div class="setting-button-parent" style="grid-column: 1; grid-row: 2">
        <div class="setting-text">
          Automatically turn off when temperature is higher than 35°C
        </div>
        <app-open-close-button
          [requestStatusMessage]="topicNames.SETTING_TEMPERATURE_STATUS_TOPIC"
          [topicWhenClick]="topicNames.SETTINGS_TEMPERATURE_TOPIC"
          [subject]="broker.subjects.temperatureSettingStatus"
        ></app-open-close-button>
      </div>
      <div class="setting-button-parent" style="grid-column: 2; grid-row: 2">
        <div class="setting-text">
          Automatically turn off when light is higher than 60%
        </div>
        <app-open-close-button
          [requestStatusMessage]="topicNames.SETTING_LIGHT_STATUS_TOPIC"
          [topicWhenClick]="topicNames.SETTINGS_LIGHT_TOPIC"
          [subject]="broker.subjects.lightSettingStatus"
        ></app-open-close-button>
      </div>
      <div class="setting-button-parent" style="grid-column: 3; grid-row: 2">
        <div class="setting-text">
          Automatically turn off when humidity is higher than 70% RH
        </div>
        <app-open-close-button
          [requestStatusMessage]="topicNames.SETTING_HUMIDITY_STATUS_TOPIC"
          [topicWhenClick]="topicNames.SETTINGS_HUMIDITY_TOPIC"
          [subject]="broker.subjects.humiditySettingStatus"
        ></app-open-close-button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Graphs" color="black">
    <app-status-graph
      [measurementConfig]="config.LIGHT_CONFIG"
      [subject]="broker.subjects.light"
    ></app-status-graph>
    <app-status-graph
      [measurementConfig]="config.TEMPERATURE_CONFIG"
      [subject]="broker.subjects.temperature"
    ></app-status-graph>
    <app-status-graph
      [measurementConfig]="config.HUMIDITY_CONFIG"
      [subject]="broker.subjects.humidity"
    ></app-status-graph>
  </mat-tab>
</mat-tab-group>
