.chart-parent {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.mdc-tab__text-label {
    color: black !important;
}

.center-button-container {
  display : flex ;
  align-items: center ;
  justify-content : center ;
  margin-top : 15px ;
  background : transparent ;
  margin-bottom : 20px ;  
}