<router-outlet></router-outlet>

<c-alert *ngIf="isAlerting" color="danger" class="d-flex align-items-center">
  <svg
    [cIcon]="icons.cilWarning"
    class="bi flex-shrink-0 me-2"
    width="24"
    height="24"
    role="img"
    aria-label="Info:"
  ></svg>
  <div [innerHTML]="[message]"></div>
</c-alert>

<div class="center-button-container">
  <app-open-close-button
    [requestMessage]="'status/setting_light'"
    [onClickTopic]="REQUEST_TOPIC"
    [brokerServiceKey]="'curtainStatus'"
  ></app-open-close-button>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Charts">
    <div class="chart-parent">
      <app-status-chart
        style="grid-column: 1; grid-row: 1"
        [measurementConfig]="TEMPERATURE_CONFIG"
        [subject]="broker.subjects.temperature"
      ></app-status-chart>
      <app-status-chart
        style="grid-column: 2; grid-row: 1"
        [measurementConfig]="LIGHT_CONFIG"
        [subject]="broker.subjects.light"
      ></app-status-chart>
      <app-status-chart
        style="grid-column: 3; grid-row: 1"
        [measurementConfig]="HUMIDITY_CONFIG"
        [subject]="broker.subjects.humidity"
      ></app-status-chart>
    </div>
  </mat-tab>
  <mat-tab label="Graphs" color="black">
    <app-status-graph [measurementConfig]="LIGHT_CONFIG" [subject]="broker.subjects.light"></app-status-graph>
    <app-status-graph [measurementConfig]="TEMPERATURE_CONFIG" [subject]="broker.subjects.temperature"></app-status-graph>
    <app-status-graph [measurementConfig]="HUMIDITY_CONFIG" [subject]="broker.subjects.humidity"></app-status-graph>
  </mat-tab>
</mat-tab-group>
